{% extends 'base.html.twig' %}

{% block body %}
<<<<<<< HEAD
    <h1>{{'Ajouter une annonce'|trans}}/h1>
=======
    <h1>Ajout d'une annonce</h1>
>>>>>>> 37d6d9587651de9a237f37ef5c5edf4623096913

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
    
        <div class="col-sm-offset-2 col-sm-10">
<<<<<<< HEAD
            <button type="submit" class="btn btn-success">{{'Enregistrer'|trans}}</button>
=======
            <button type="submit" class="btn btn-success">Enregistrer</button>
>>>>>>> 37d6d9587651de9a237f37ef5c5edf4623096913
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}