{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-danger">
        <strong>{{'Avertissement '|trans}} </strong> {{'Vous êtes en train de supprimer l annonce suivante suivant'|trans}}
        <ul>
            <li><strong>{{"Tilte"|trans}} </strong> {{ annonce.titre }}</li>
            <li><strong>{{"Contente"|trans}}</strong>{{ annonce.contenu|raw }}</li>
            <li><strong>{{"Date de publication"|trans}}</strong>{{ annonce.createAt|date('m/d/Y') }}</li>
        </ul>
    </div>
    
    <div class="">
    {{ form_start(form, {'attr': {'class': 'navbar-form navbar-left'}}) }}
    {{ form_widget(form) }}
        <a href="{{ path('annonces.list') }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>{{'Annuler'|trans}}</a>
        <button type="submit" class="btn btn-danger" onclick={{'retourner  confirmation( Êtes vous sûr )'|trans}}>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    {{"Supprimer"|trans}}
    </button>
    {{ form_end(form) }}
    </div>
{% endblock %}