{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="section">
          <div class="row" >
          <div class="col m6 offset-m3">
          <h1>{{"Recherche avancée"|trans }} </h1>
     {{ form(search_form) }}
     </div>
        </div>
      
           <div class="row" >
          <div class="col m6 offset-m3">
          
         
    <h1>{{"Résultat de la recherche"|trans}}</h1>

   {% for annonce in annonces %}
       <div>
            <h2> {{annonce.titre}}</h2>
            <div calss ="metadata"> {{'Ecrit le'|trans}}  {{annonce.createAt|date('d/m/y')}}{{'à'|trans}} {{annonce.createAt|date('H:i')}} {{'dans la catégorie'|trans}}  {{annonce.secteur.nom}}</div>
            <div class ="content">
            <img class="fit-picture"
            src="http://via.placeholder.com/640x360"
            </div>
             <a href="{{ path('annonce.show', {id: annonce.id}) }}"  class="btn btn-primary">{{'Lire la suite'|trans}}</a>
        </div>
    {% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}
         
